.nav-menu{
  position: absolute;
  margin: 50px;
  width: 100%;
  top: 0;
  right: 0%;
  background-color: rgba(0, 0, 0, 0.611);
  z-index:10;
}
.nav-menu li a {
  text-decoration: none;
  color: aliceblue;
  
}
nav-menu li a:hover{
  text-decoration: none;
  color: orange;

}
.carousel-navbar{
position: relative;
}